@import '@fortawesome/fontawesome-free/css/all.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {

  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.read-more-btn {
  display: inline-block;
  background-color: #22c55e; /* Green */
  color: white;
  font-size: 14px;
  padding: 6px 14px; /* Small padding */
  border-radius: 6px;
  transition: background 0.3s ease;
  text-decoration: none;
  width: auto; /* Fixes long background */
  min-width: 100px; /* Ensures button is not too small */
  text-align: center;
}

.read-more-btn:hover {
  background-color: #15803d; /* Darker Green on Hover */
}
